/* Global */

@font-face {
    font-family: Roboto;
    src: url('../assets/Roboto-Regular.ttf');
}

* {
    font-family: 'Roboto';
    --primary: #3b82f6;
}

h1 {
    padding: 0;
}

body {
    margin: 0;
}

a {
    text-decoration: none;
}

/* Navigation bar */

header {
    display: flex;
    align-items: center;
    height: 80px;
    justify-content: space-between;
    padding: 0 5px 0 5px;
    box-shadow: 0 0 5px rgb(100, 100, 100);
}

header a {
    color: black;
}

nav {
    display: flex;
    width: 200px;
    height: 100%;
    align-items: center;
    justify-content: space-around;
    font-weight: bold;
}

nav a {
    display: block;
    padding: 27px 0 27px 0;
}

a.active {
    border-bottom: 3px solid var(--primary);
    border-top: 3px solid transparent;
}

/* Index body */

main {
    margin: 10px;
}
